development:
  adapter: postgresql
  database: avoirmldupois_dev
  encoding: unicode
  username: avoirmldupois
  password: arml
  pool: 5
  port: 5433

test:
  adapter: postgresql
  database: avoirmldupois_test
  encoding: unicode
  username: avoirmldupois
  password: arml
  pool: 5
  port: 5433

production:
  adapter: postgresql
  database: avoirmldupois
  encoding: unicode
  username: avoirmldupois
  password: arml
  pool: 5
