default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: avoirmldupois_dev
  username: avoirmldupois
  password: arml
  port: 5432

test:
  <<: *default
  database: avoirmldupois_test
  username: avoirmldupois
  password: arml
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
