development:
  adapter: mysql2
  database: avoirmldupois_dev
  username: avoirmldupois
  password: pois
  host: localhost

test:
  adapter: mysql2
  database: avoirmldupois_test
  username: avoirmldupois
  password: pois
  host: localhost

production:
  adapter: mysql2
  database: avoirmldupois
  username: avoirmldupois
  password: pois
  hostname: localhost
